@charset "utf-8";


.Container {width: 100%; padding: 0 16px;}




/* navbar */
.navbar-default {background-color: #fff; background-image: none; height: 50px; box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 2px 5px rgb(0 0 0 / 10%);}
.navbar-head {display: flex; justify-content: space-between; align-items: center;}
.navbar-logo a img.logohover {display: none;}
.navbar-logo a:hover img.logohover {display: block;}
.navbar-logo a:hover img.logonormal {display: none;}
.navbar-default .navbar-toggle {padding: 0; border: 0;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent;}
.navbar-default .navbar-toggle .icon-bar {height: 3px;}
.navbar-default .navbar-toggle .icon-bar+.icon-bar {margin-top: 5px;}
.navbar-default .navbar-collapse {width: 100%; background-color: #fff; position: absolute; top: 50px; margin: 0 -15px 7.5px; border-top: 0; border-bottom: 1px solid #ddd;}
.navbar-default .navbar-collapse .nav-after-login li:nth-last-child(2) {margin-bottom: 7.5px;}
.navbar-default .navbar-collapse .nav-after-login li:nth-last-child(1) {padding-top: 3px;}




/* main */ 
/* main common title */
.comtit {text-align: center;}
.comtit p.tit {font-size: 23px;}
.comtit p.txt {font-size: 18px; margin-top: 15px;}

/* main section01 */
.sec01 {padding-top: 35%; text-align: center; background-image: url(../images/bg/main_back_top.jpg); height: 700px;}
.sec01 .titArea .title {font-size: 30px; color: #fff; line-height: 1.4;}
.sec01 .titArea .title span.newblue {font-size: 45px;} 
.sec01 .titArea .sub {color: #dbff95; font-size: 18px;}
.mainBikeSearch .searchWrap {margin-top: 45px;}
.mainBikeSearch .searchWrap .searchSelect {background-color: #fff;}
.mainBikeSearch .searchWrap .searchSelect .search {width: 100%; height: 50px;}
.mainBikeSearch .searchWrap .searchSelect .search select, .mainBikeSearch .searchWrap .searchSelect .search input[type="text"] {padding: 15px 20px; background-image: url(../images/arrow_down.png); background-position: 93% center; background-size: 10px;}
.mainBikeSearch .searchWrap .searchbtn button {margin-top: 20px; color: #fff; font-size: 16px; display: flex; justify-content: center; align-items: center; width: 100%; height: 38px;}
.mainBikeSearch .searchWrap .searchbtn button span {background-image: url(../images/search_icon.png); display: inline-block; width: 20px; height: 20px;}
.searchTag {margin-top: 20px;}
.searchTag .tagBtns {display: flex; justify-content: space-between; width: 93%; margin: auto;}
.searchTag .tagBtns a {color: #4E6BD3; font-size: 12px;}

/* main section02 */
.sec02 {margin-top: 70px; margin-bottom: 100px;}
.tourSlide {width: 100%; margin-top: 30px;}
.tourSlide .carousel-inner {width: 100%; height: 500px;}
.tourSlide .carousel-inner .item ul li {width: 99%; background-color: #fff;}
.tourSlide .carousel-inner .item ul li .imgArea {height: 320px; overflow: hidden;}
.tourSlide .carousel-inner .item ul li .txtArea {padding: 20px;}
.tourSlide .carousel-inner .item ul li .txtArea p {color: #434343;}
.tourSlide .carousel-inner .item ul li .txtArea p.tit {font-size: 20px; margin-bottom: 20px;}
.tourSlide .carousel-inner .item ul li .txtArea p.txt {word-break: keep-all; line-height: 1.4; font-size: 18px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3em;}
.slide .carousel-control {background-image: none; width: 40px;  opacity: 1;}
.slide .carousel-control .glyphicon {height: 40px; top: 40%;}
.slide .carousel-control .glyphicon::before {content: none;}
.tourSlide .carousel-control .glyphicon-chevron-left {background-image: url(../images/mobile/main_slide_left.png);}
.tourSlide .carousel-control .glyphicon-chevron-right {background-image: url(../images/mobile/main_slide_right.png);}

/* 각 슬라이드 임시 썸네일 */
.tourSlide .carousel-inner .item ul li:first-of-type .imgArea .imgChild {background-image: url(../images/exam/slide_exthum01.png);}

/* main section03 */
.snsWrap {margin-top: 30px;}
.snsWrap .leftArea, .snsWrap .rightArea {width: 100%;}
.snsWrap .leftArea .videoBox {height: 320px;}
.snsWrap .rightArea .instaBox {height: 250px; margin-top: 50px;}
.snsWrap .rightArea .instaBox ul {display: flex; flex-wrap: wrap; height: 100%;}
.snsWrap .rightArea .instaBox ul li {width: 32%; margin-right: 2%; margin-bottom: 6px;}
.snsWrap .rightArea .instaBox ul li:nth-of-type(3n) {margin-right: 0;}
.snsWrap .rightArea .instaBox ul li:nth-child(n+4):nth-child(-n+6) {margin-bottom: 0;}
.linkbtn {margin-top: 20px; text-align: right;}
.linkbtn button {font-size: 16px; background-color: #7f3ff8; color: #fff; height: 38px; width: 100%; display: flex; justify-content: center; align-items: center;}
.linkbtn button i {width: 16px; height: 16px; display: inline-block; margin-right: 10px; vertical-align: bottom;}
.youLinkbtn button i {background-image: url(../images/youtube_btn_icon.png);}
.instaLinkbtn button i {background-image: url(../images/instagram_btn_icon.png);}

/* 인스타 임시 썸네일 */
.instaBox ul li:nth-of-type(1) button {background-image: url(../images/exam/insta_ex_thum01.jpg);}
.instaBox ul li:nth-of-type(2) button {background-image: url(../images/exam/insta_ex_thum02.jpg);}
.instaBox ul li:nth-of-type(3) button {background-image: url(../images/exam/insta_ex_thum03.jpg);}
.instaBox ul li:nth-of-type(4) button {background-image: url(../images/exam/insta_ex_thum04.jpg);}
.instaBox ul li:nth-of-type(5) button {background-image: url(../images/exam/insta_ex_thum05.jpg);}
.instaBox ul li:nth-of-type(6) button {background-image: url(../images/exam/insta_ex_thum06.jpg);}





/* main section04 */
.boxHidden {display: none;}

.sec04 {background-image: url(../images/bg/main_back_bottom.jpg); padding-top: 150px; height: 700px;}
.sec04 .comtit p.tit i {width: 40px; height: 39px; background-image: url(../images/sec04_title_icon.png); margin-left: 15px;}
.commuWrap {margin-top: 30px;}
.commuWrap .review_area {display: flex; justify-content: space-between; align-items: center;}
.commuWrap .review_area li {width: 48%; background-color: #fff; margin-bottom: 20px; border: 1px solid #e2e2e2ef}
.commuWrap .review_area li .contbox .boxhead {padding: 15px 15px;}
.commuWrap .review_area li .contbox p {font-size: 15px; font-weight: 500;}
.commuWrap .review_area li .contbox span {font-size: 13px;}

.contbox .boxhead .name i {display: inline-block; width: 18px; height: 18px; border-radius: 50%; vertical-align: middle; margin-right: 8px;}
.contbox .boxhead .starndate {display: flex; margin-top: 7px; padding-left: 25px;}
.contbox .boxhead .date {margin-left: 11px;}
.contbox .boxcont .imgArea {height: 110px; overflow: hidden;}
.contbox .boxcont .txtArea {padding: 10px;}
.contbox .boxcont .txtArea p {overflow: hidden; word-break: keep-all; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3em;}
.tagArea {padding-top: 8px; margin-top: 8px;}
.tagArea a {margin-right: 5px;}
.tagArea a:hover {color: #597af4;}
.commuWrap .morebtn {margin-top: 20px; text-align: center;}
.commuWrap .morebtn button {background-color: #fff; height: 38px; color: #4a69de; font-size: 16px;}
/* 대여후기 별접 css */
.star-ratings {font-size: 14px; color: #d9d9d9; position: relative; unicode-bidi: bidi-override; width: max-content; -webkit-text-fill-color: #d9d9d9}
.star-ratings-fill {color: #fdc46b; padding: 0; position: absolute; z-index: 1; display: flex; top: 0; left: 0; overflow: hidden; -webkit-text-fill-color: #fdc46b;}
.star-ratings-base {z-index: 0; padding: 0;}
.star-ratings span {border-radius: 10px;}
/* 대여후기 임시 프로필 */
.name i {background-image: url(../images/exam/profile_ex_thum.png) !important;}
/* 대여후기 임시 콘텐츠썸네일 */
.contbox .boxcont .imgArea .imgChild {background-image: url(../images/exam/review_ex_thum01.jpg);}






/* footer */
.footer {background-color: #33322d; padding: 15px 0;}
.footer .logo_ft p {font-size: 12px; margin-top: 7px;}
.footer .txt_ft {margin-left: 30px;}
.footer .txt_ft ul {line-height: 1.6;}
.footer .txt_ft ul li {font-size: 12px;}




/* bottom nav */
.bottom-nav ul {display: flex;}
.bottom-nav ul li {text-align: center; width: 20%;}
.bottom-nav ul li a {padding: 7px 5px; display: inline-block;}
.bottom-nav ul li a img {width: 30px;}
.bottom-nav ul li a p {font-size: 10px; margin-top: 2px;}