@charset "utf-8";


.Container {width: 100%; padding: 0 16px;}




/* navbar */
.navbar-default {background-color: #fff; background-image: none; height: 50px; box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 2px 5px rgb(0 0 0 / 10%);}
.navbar-head {display: flex; justify-content: space-between; align-items: center;}
.navbar-logo a img.logohover {display: none;}
.navbar-logo a:hover img.logohover {display: block;}
.navbar-logo a:hover img.logonormal {display: none;}
.navbar-default .navbar-toggle {padding: 0; border: 0;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent;}
.navbar-default .navbar-toggle .icon-bar {height: 3px;}
.navbar-default .navbar-toggle .icon-bar+.icon-bar {margin-top: 5px;}
.navbar-default .navbar-collapse {width: 100%; background-color: #fff; position: absolute; top: 50px; margin: 0 -15px 7.5px; border-top: 0; border-bottom: 1px solid #ddd;}
.navbar-default .navbar-collapse .nav-after-login li:nth-last-child(2) {margin-bottom: 7.5px;}
.navbar-default .navbar-collapse .nav-after-login li:nth-last-child(1) {padding-top: 3px;}




/* 로그인/회원가입/비밀번호 재설정 */
.loginWrap {margin-top: 25%; text-align: center; background-color: #fff; margin-bottom: 60px;}
.loginWrap h2 {padding: 15px; font-size: 20px;}
.loginWrap .lg_cont, .loginWrap .lg_foot {padding: 30px 20px;}
.user-btn-group {margin-bottom: 30px;}
.user-btn-group .btn input[type="radio"] {display: none;}
.user-btn-group .btn {padding-top: 15px; margin: 0 15px; width: 120px; height: 120px; border: 1px solid #bfbfbf; text-align: center;}
.user-btn-group .btn:first-of-type img {width: 55%; margin: auto;}
.user-btn-group .btn:last-of-type img {width: 68%; margin: auto;}
.user-btn-group .btn img.on {display: none;}
.user-btn-group .btn img.off {display: block;}
.user-btn-group .btn p {font-size: 14px; font-weight: 500; line-height: 1.2; margin-top: 5px;}
.user-btn-group .btn:last-of-type p {margin-top: 4px;}
.user-btn-group .active {background-color: #4e6bd3;}
.user-btn-group .active img.off {display: none;}
.user-btn-group .active img.on {display: block;}
.user-btn-group .active p {color: #fff;}
.loginWrap .lg_cont .input_text input {background-color: #f3f3f3; padding: 12px 18px; height: 42px; font-size: 15px; margin-bottom: 10px;}
.loginWrap .lg_cont .input_text input::placeholder {font-size: 15px;}
.loginWrap .lg_cont .input_text select {background-image: url(../images/arrow_down.png); background-size: 8px; background-position: 94% center; padding: 12px 18px; font-size: 15px; margin-bottom: 25px;}
.loginWrap .lg_cont .input_text .ag_check {text-align: left;}
.loginWrap .lg_cont .input_text .ag_check label {display: block; font-size: 12px;}
.loginWrap .lg_cont .input_text input[type="checkbox"] {margin: 0; margin-right: 8px; margin-top: -3px; width: 15px; height: 15px;}
.loginWrap .lg_cont .lg_btns {display: flex; justify-content: space-between; align-items: center;}
.loginWrap .lg_cont .lg_btns .leftArea label {display: block; font-weight: normal; color: #989898;}
.loginWrap .lg_cont .lg_btns .leftArea label input[type="checkbox"] {vertical-align: bottom; margin-right: 5px;}
.loginWrap .lg_cont .lg_btns .rightArea a {opacity: .6; font-size: 15px; display: block;}
.loginWrap .lg_cont .lg_btns .rightArea a i {color: #6d89ec; margin-right: 5px;}
.loginWrap .lg_cont>p {text-align: left; color: #9a9a9a; font-weight: 500; margin-bottom: 20px; line-height: 1.4; margin-top: 10px; word-break: keep-all;}
.loginWrap .lg_cont .lg_btns a:hover {opacity: 1; color: #3c3c3c;} 
.loginWrap .lg_cont .lg_btns button {height: 38px; font-size: 16px; background-color: #4e6bd3; width: 42%;}
.loginWrap .lg_foot button {height: 38px; font-size: 16px; background-color: #4e6bd3; margin-bottom: 25px;}
.loginWrap .lg_foot .sns_lg p {color: #9a9a9a; line-height: 1.4; margin-bottom: 25px;}




/* main */ 
/* main common title */
.comtit {text-align: center;}
.comtit p.tit {font-size: 23px;}
.comtit p.txt {font-size: 18px; margin-top: 15px;}

/* main section01 */
.sec01 {padding-top: 35%; text-align: center; background-image: url(../images/bg/main_back_top.jpg); height: 700px;}
.sec01 .titArea .title {font-size: 30px; color: #fff; line-height: 1.4;}
.sec01 .titArea .title span.newblue {font-size: 45px;} 
.sec01 .titArea .sub {color: #dbff95; font-size: 18px;}
.mainBikeSearch .searchWrap {margin-top: 45px;}
.mainBikeSearch .searchWrap .searchSelect {background-color: #fff;}
.mainBikeSearch .searchWrap .searchSelect .search {width: 100%; height: 50px;}
.mainBikeSearch .searchWrap .searchSelect .search select, .mainBikeSearch .searchWrap .searchSelect .search input[type="text"] {padding: 15px 20px; background-image: url(../images/arrow_down.png); background-position: 93% center; background-size: 10px;}
.mainBikeSearch .searchWrap .searchbtn button {margin-top: 20px; color: #fff; font-size: 16px; display: flex; justify-content: center; align-items: center; width: 100%; height: 38px;}
.mainBikeSearch .searchWrap .searchbtn button span {background-image: url(../images/search_icon.png); display: inline-block; width: 20px; height: 20px;}
.searchTag {margin-top: 20px;}
.searchTag .tagBtns {display: flex; justify-content: space-between; width: 93%; margin: auto;}
.searchTag .tagBtns a {color: #4E6BD3; font-size: 12px;}

/* main section02 */
.sec02 {margin-top: 70px; margin-bottom: 100px;}
.tourSlide {width: 100%; margin-top: 30px;}
.tourSlide .carousel-inner {width: 100%; height: 500px;}
.tourSlide .carousel-inner .item ul li {width: 99%; background-color: #fff;}
.tourSlide .carousel-inner .item ul li .imgArea {height: 320px; overflow: hidden;}
.tourSlide .carousel-inner .item ul li .txtArea {padding: 20px;}
.tourSlide .carousel-inner .item ul li .txtArea p {color: #434343;}
.tourSlide .carousel-inner .item ul li .txtArea p.tit {font-size: 20px; margin-bottom: 20px;}
.tourSlide .carousel-inner .item ul li .txtArea p.txt {word-break: keep-all; line-height: 1.4; font-size: 18px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3em;}
.slide .carousel-control {background-image: none; width: 40px;  opacity: 1;}
.slide .carousel-control .glyphicon {height: 40px; top: 40%;}
.slide .carousel-control .glyphicon::before {content: none;}
.tourSlide .carousel-control .glyphicon-chevron-left {background-image: url(../images/mobile/main_slide_left.png);}
.tourSlide .carousel-control .glyphicon-chevron-right {background-image: url(../images/mobile/main_slide_right.png);}

/* 각 슬라이드 임시 썸네일 */
.tourSlide .carousel-inner .item ul li:first-of-type .imgArea .imgChild {background-image: url(../images/exam/slide_exthum01.png);}

/* main section03 */
.snsWrap {margin-top: 30px;}
.snsWrap .leftArea, .snsWrap .rightArea {width: 100%;}
.snsWrap .leftArea .videoBox {height: 320px;}
.snsWrap .rightArea .instaBox {height: 250px; margin-top: 50px;}
.snsWrap .rightArea .instaBox ul {display: flex; flex-wrap: wrap; height: 100%;}
.snsWrap .rightArea .instaBox ul li {width: 32%; margin-right: 2%; margin-bottom: 6px;}
.snsWrap .rightArea .instaBox ul li:nth-of-type(3n) {margin-right: 0;}
.snsWrap .rightArea .instaBox ul li:nth-child(n+4):nth-child(-n+6) {margin-bottom: 0;}
.linkbtn {margin-top: 20px; text-align: right;}
.linkbtn button {font-size: 16px; background-color: #7f3ff8; color: #fff; height: 38px; width: 100%; display: flex; justify-content: center; align-items: center;}
.linkbtn button i {width: 16px; height: 16px; display: inline-block; margin-right: 10px; vertical-align: bottom;}
.youLinkbtn button i {background-image: url(../images/youtube_btn_icon.png);}
.instaLinkbtn button i {background-image: url(../images/instagram_btn_icon.png);}

/* 인스타 임시 썸네일 */
.instaBox ul li:nth-of-type(1) button {background-image: url(../images/exam/insta_ex_thum01.jpg);}
.instaBox ul li:nth-of-type(2) button {background-image: url(../images/exam/insta_ex_thum02.jpg);}
.instaBox ul li:nth-of-type(3) button {background-image: url(../images/exam/insta_ex_thum03.jpg);}
.instaBox ul li:nth-of-type(4) button {background-image: url(../images/exam/insta_ex_thum04.jpg);}
.instaBox ul li:nth-of-type(5) button {background-image: url(../images/exam/insta_ex_thum05.jpg);}
.instaBox ul li:nth-of-type(6) button {background-image: url(../images/exam/insta_ex_thum06.jpg);}

/* main section04 */
.boxHidden {display: none;}

.sec04 {background-image: url(../images/bg/main_back_bottom.jpg); padding-top: 150px; height: 700px;}
.sec04 .comtit p.tit i {width: 40px; height: 39px; background-image: url(../images/sec04_title_icon.png); margin-left: 15px;}
.commuWrap {margin-top: 30px;}
.review_area {display: flex; justify-content: space-between; align-items: center;}
.review_area li {width: 48%; background-color: #fff; margin-bottom: 20px; border: 1px solid #e2e2e2ef}
.review_area li .contbox .boxhead {padding: 15px 15px;}
.review_area li .contbox p {font-size: 15px; font-weight: 500;}
.review_area li .contbox span {font-size: 13px;}

.contbox .boxhead .name i {display: inline-block; width: 18px; height: 18px; border-radius: 50%; vertical-align: middle; margin-right: 8px;}
.contbox .boxhead .starndate {display: flex; margin-top: 7px; padding-left: 25px;}
.contbox .boxhead .date {margin-left: 11px;}
.contbox .boxcont .imgArea {height: 110px; overflow: hidden;}
.contbox .boxcont .txtArea {padding: 10px;}
.contbox .boxcont .txtArea p {overflow: hidden; word-break: keep-all; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3em;}
.tagArea {padding-top: 8px; margin-top: 8px;}
.tagArea a {margin-right: 5px;}
.tagArea a:hover {color: #597af4;}
.commuWrap .morebtn {margin-top: 20px; text-align: center;}
.commuWrap .morebtn button {background-color: #fff; height: 38px; color: #4a69de; font-size: 16px;}
/* 대여후기 별접 css */
.star-ratings {font-size: 14px; color: #d9d9d9; position: relative; unicode-bidi: bidi-override; width: max-content; -webkit-text-fill-color: #d9d9d9}
.star-ratings-fill {color: #fdc46b; padding: 0; position: absolute; z-index: 1; display: flex; top: 0; left: 0; overflow: hidden; -webkit-text-fill-color: #fdc46b;}
.star-ratings-base {z-index: 0; padding: 0;}
.star-ratings span {border-radius: 10px;}
/* 대여후기 임시 프로필 */
.name i {background-image: url(../images/exam/profile_ex_thum.png) !important;}
/* 대여후기 임시 콘텐츠썸네일 */
.contbox .boxcont .imgArea .imgChild {background-image: url(../images/exam/review_ex_thum01.jpg);}





/* 이용안내 */
/* content */
/* top intro */
.introWrap {background-image: url(../images/bg/commu_top_bg.png); height: 555px; padding-top: 80px;}
.sec_intro {width: 100%; background-color: #fff; padding: 25px 20px;}
.sec_intro ul li {display: flex; align-items: center; margin-bottom: 30px;}
.sec_intro ul li img {width: 70px;}
.sec_intro ul li .txtArea {margin-left: 20px;}
.sec_intro ul li .txtArea h2 {font-size: 16px;}
.sec_intro ul li .txtArea p {line-height: 1.3; font-size: 13px; margin-top: 10px;}
/* 구글 / 앱스토어 바로가기 버튼 */
.app_btn {text-align: center;}
.app_btn p {font-size: 16px; margin-bottom: 20px;}
.app_btn button img {width: 130px; height: 45px;}

.guideWrap {margin-top: 100px;}
.guideWrap .box {overflow: hidden; margin-bottom: 150px;}
.guideWrap .box .leftArea {width: 100%; margin-bottom: 20px;}
.guideWrap .box .leftArea h2 {font-weight: bold; font-size: 20px; border-bottom: 3px solid #bec8ef; padding-bottom: 3px; margin-bottom: 15px; display: inline-block;}
.guideWrap .box .leftArea p {font-size: 16px; line-height: 1.5; word-break: keep-all;}
.guideWrap .box .rightArea {width: 100%;}
.guideWrap .box .rightArea table {font-size: 14px; text-align: center; line-height: 1.5;}
.guideWrap .box .rightArea table tr th {background-color: #f0f8fc; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
.guideWrap .box .rightArea table tr td {background-color: #f8f8f8; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
.guideWrap .box .rightArea table tr th, .guideWrap .box .rightArea table tr td {padding: 15px 0; vertical-align: middle;}
/* box01 - 대여안내 */
.gd_box {padding: 15px; font-size: 14px; line-height: 1.5;}
.gd_box:first-of-type {background-color: #f6f0f5;}
.gd_box:last-of-type {background-color: #f5f7fe;}
.gd_box p:first-of-type {margin-bottom: 10px;}
.gd_box p:last-of-type {margin-left: 18px;}
/* box02 - 서비스요금 */
.sv_cate_tit {font-size: 14px; font-weight: bold;}
.sv_cate_tit:last-of-type {margin-top: 40px;}
.sv_box {font-size: 14px; display: flex; justify-content: space-between; height: auto; margin-top: 18px; line-height: 1.5;}
.sv_box .sv_tit {width: 30%; text-align: center; font-weight: bold; padding: 15px;}
.sv_box03 .sv_tit {padding-top: 10%;}
.sv_box .sv_tit img {width: 50px;}
.sv_box .sv_tit p {margin-top: 5px;}
.sv_box .sv_txt {width: 68%; padding: 15px; display: flex; align-items: center;}
.sv_box01 div {background-color: #fff3f3;}
.sv_box02 div {background-color: #eef2ff;}
.sv_box03 div {background-color: #eef2ff;}
/* box03 - 자차보험 */
.guideWrap .box03 .rightArea table tr th {width: 100%; text-align: left; padding: 15px; display: block;}
.guideWrap .box03 .rightArea table tr td {padding: 15px; display: block; text-align: left;margin-bottom: 10px;}
/* box04 - 취소 및 환불규정 */
.guideWrap .box04 .rightArea table tr th:first-of-type {width: 37%;}
.guideWrap .box04 .rightArea table tr:last-of-type td {text-align: left; padding-left: 3%;}
/* box05 - 대여 주의사항 */
.guideWrap .box05 .rightArea table tr th {width: 15%;}
.guideWrap .box05 .rightArea table tr td {text-align: left; padding: 15px;}
/* box06 - 이용약관 */
.guideWrap .box06 .rightArea {padding-right: 3px;}
.grbtns button.grbtn {width: 100%; margin-bottom: 15px; padding: 10px; border: 1px solid #e2e2e2ef;}
/* box07 - 오토바이 체급과 제도 */
.guideWrap .box07 {margin-bottom: 60px;}
.guideWrap .box07 .rightArea table tr th {padding: 15px 5px;}
.g_green {background-color: #f5f9f3 !important;}
.g_red {background-color: #fff3f3 !important;}




/* common btns */
.backblue_btn {background-color: #597af4; color: #fff; width: 100%; height: 38px; font-weight: bold; border-radius: 10px;}
.lineblue_btn {background-color: #fff; border: 1px solid #3d66ff; color: #3d66ff; width: 100%; height: 38px; border-radius: 10px;}
.edtndel ul li a {padding: 6px 10px; font-size: 12px; display: inline-block; color: #bfbfbf;}


/* 커뮤니티 */
/* title area */
.comm_titArea {margin-bottom: 20px;}
.comm_titArea h2 {font-size: 20px;}
.comm_titArea p {margin-top: 10px;}

/* notice */
.commu_notice {margin-bottom: 100px; margin-top: 80px;}
/* netice list */
.noticeTable table {border-top: 1px solid #898989; text-align: center; font-size: 16px;}
.noticeTable table tr th {display: none;}
.noticeTable table tr td {display: inline-block; text-align: left; color: #BFBFBF; margin: 15px 0; padding: 0 16px; float: left;}
.noticeTable table tr td:first-of-type {display: none;}
.noticeTable table tr td:nth-of-type(2) {width: 100%; display: block; color: #333; margin-bottom: 0; float: none;}
.noticeTable table tr td:last-of-type {margin-left: 0; padding-left: 13px;}
.noticeTable table tr td a:hover {color: #4a69de;}
.noticeTable table tr td i.newIcon {display: inline-block; background-image: url(../images/new_icon.png); width: 10px; height: 10px; vertical-align: super; margin-left: 3px;}
.noticeTable table tr td:last-of-type i {display: inline-block; background-image: url(../images/view_icon.png); width: 18px; height: 18px; margin-right: 5px; vertical-align: top;}
.commu_notice .morebtn {text-align: right; margin-top: 20px;}
/* review */
.comm_review {margin-bottom: 60px;}
/* best riview */
.best_re {display: flex; justify-content: space-between; height: 300px; margin-bottom: 50px;}
.best_re .banner_tit {width: 400px; padding: 30px 25px; background-image: url(../images/bg/best_re_bg.jpg);}
.best_re .banner_tit p:first-of-type {font-size: 32px; line-height: 1.5; border-bottom: 2px solid #fff; width: 65%; padding-bottom: 6px; margin-bottom: 13px;}
.best_re .banner_tit p:last-of-type {font-size: 16px; line-height: 1.4;}
.best_review_area {padding: 25px 0;}
.best_review_area ul.review_area {width: 100%; display: block; height: 300px; white-space: nowrap;}
.best_review_area ul.review_area li {display: inline-block; height: 280px; width: 155px; margin-right: 10px;}
.best_review_area ul.review_area li:first-of-type {margin-left: 16px;}
.best_review_area ul.review_area li:last-of-type {margin-right: 16px;}
.best_review_area ul.review_area li .contbox .boxcont .txtArea p {white-space: normal;}
/* search_group */
.search_group {border-top: 1px solid #a8a8a8; border-bottom: 1px solid #a8a8a8; background-color: #f7f7f7; padding: 20px 16px;}
.review_list .search_group .label_group {display: flex; justify-content: space-between; margin-bottom: 10px;}
.review_list .search_group .label_group label input[type="radio"] {display: none;}
.review_list .search_group .label_group label input[type="radio"] + span {display: flex; justify-content: center; align-items: center; border: 1px solid #bfbfbf; height: 38px; width: 100px; background-color: #fff; color: #bfbfbf;}
.review_list .search_group .label_group label input[type="radio"]:checked + span {border: 1px solid #7690ED; color: #333;}
.search_group .search_box {display: flex; justify-content: center; align-items: center;}
.search_group .search_box input[type="text"] {width: 85%; height: 38px; padding: 10px;}
.search_group .search_box button {background-color: #4E6BD3; height: 38px; width: 15%;}
.search_group .search_box button i {color: #fff; font-size: 17px;}
.search_group .search_box button span {display: none;}
/* review list */
.review_list {margin-top: 30px;}
.review_list .list_box {padding: 25px; display: flex; justify-content: space-between;}
.review_list .list_box .txtArea {width: 77%;}
.review_list .list_box .txtArea .txtHead {width: 85%; display: flex; padding-bottom: 12px;}
.review_list .list_box .txtArea .txtHead h2 {font-size: 17px; max-width: 65%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.review_list .list_box .txtArea .txtHead span {margin-left: 5px; font-size: 17px;}
.labelArea {margin-left: 10px;}
.labelArea span.label {font-size: 12px !important; font-weight: normal; padding: 0.05em .6em 0.3em;}
.label-seccess {background-color: #4bcfba;}
.label-primary {background-color: #6d89ec;}
.label-danger {background-color: #ff7e7e;}
.re_info {display: flex; align-items: center;}
.re_info i.profile_img {width: 40px; height: 40px; display: inline-block; border-radius: 50%; margin-right: 6px;}
.re_info .name {font-size: 16px; margin-bottom: 4px;}
.re_info .star-ratings {display: inline-block;}
.re_info .star-ratings span {margin-left: 0; font-size: 16px;}
.re_info .date {color: #bfbfbf; margin-left: 6px; font-size: 12px;}
.review_list .list_box .txtArea .txtCont {margin-top: 12px; margin-bottom: 15px;}
.review_list .list_box .txtArea .txtCont h2 {display: inline-block; font-size: 17px;}
.review_list .list_box .txtArea .txtCont span {font-size: 16px;}
.review_list .list_box .txtArea .txtFoot {margin-left: 0;}
.review_list .list_box .txtArea .txtFoot .label {font-size: 14px !important;}
.review_list .list_box .imgArea {width: 100px; height: 100px;}
/* pagenation & write btn */
.board_bt_btn {text-align: center; margin-top: 10px;}
/* pagenation */
.pagination, 
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {border-radius: 0;}
.pagination>li:first-child>a, .pagination>li:first-child>span {margin-right: 18px;}
.pagination>li:last-child>a, .pagination>li:last-child>span {margin-left: 18px;}
.pagination>li:first-child>a>span, .pagination>li:last-child>a>span {color: #bfbfbf; font-size: 20px;}
.pagination li:nth-of-type(n+2):nth-of-type(-n+4) a {border: none; font-size: 16px; margin-top: 5px;}
.pagination>li>a, .pagination>li>span {padding: 2px 8px 6px; margin-left: 5px; margin-right: 5px; color: #3c3c3c; line-height: 1em;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {color: #4b6adf; font-weight: bold; background-color: #fff; border-color: none;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {color: #4b6adf; font-weight: bold; background-color: #fff;}
/* writhe btn */


/* review list 임시 썸네일 */
.review_list .list_box .imgArea {background-image: url(../images/exam/review_ex_thum02.jpg);}
/* 임시 프로필 이미지 */
.re_info i.profile_img {background-image: url(../images/exam/profile_ex_thum.png);}




/* 공지사항 리스트 페이지 */
.commu_notice_page {margin-bottom: 60px; margin-top: 80px;}



/* 커뮤니티 > 공지사항,리뷰 디테일 */
.dtWrap .titArea {padding:18px 16px; display: flex; justify-content: space-between; align-items: center;}
.dtWrap .titArea .tit_txt .txtHead {margin-bottom: 17px; display: flex; align-items: center; align-items: center;} 
.dtWrap .titArea .tit_txt .txtHead h4 {font-size: 18px;}
.dtWrap .titArea .tit_txt .txtHead span {font-size: 18px; margin-left: 5px;}
.dtWrap .titArea .tit_txt .txtHead p {font-size: 16px; padding-left: 15px; margin-left: 15px;}
.dtWrap .titArea .tit_txt ul {display: flex;}
.dtWrap .titArea .tit_txt ul li {color: #a3a3a3; font-size: 12px; padding-right: 15px; margin-right: 13px;}
.dtWrap .titArea .tit_txt ul li i {background-image: url(../images/view_icon.png); display: inline-block; width: 15px; height: 15px; vertical-align: top; margin-right: 4px;}
.review_d .tit_txt {width: 82%;}
.review_d .titArea .tit_txt .txtHead {display: block; margin-bottom: 20px;}
.review_d .titArea .tit_txt .txtHead .titArea {padding: 0; margin-bottom: 15px; justify-content: left;}
.review_d .titArea .tit_txt .txtHead .labelArea {margin-left: 0;}
.review_d .titArea .tit_txt .txtHead .labelArea span {font-size: 14px !important;}
.review_d .titArea .tit_txt .re_info {padding-top: 15px;}
.dtWrap .fileArea {padding: 13px 16px; display: flex;}
.dtWrap .fileArea p {width: 28%; font-size: 13px;}
.dtWrap .fileArea p i {display: inline-block; background-image: url(../images/file_icon.png); width: 13px; height: 15px; vertical-align: top; margin-left: 8px;}
.dtWrap .fileArea ul li {margin-bottom: 15px;}
.dtWrap .fileArea ul li:last-of-type {margin-bottom: 0;}
.dtWrap .fileArea ul li span {color: #bfbfbf; margin-left: 15px;}
.dtWrap .fileArea ul li a {font-size: 12px;}
.snb_info_box {background-color: #f7f8fa; padding: 20px 16px; margin-top: 10px;}
.snb_info_box .info_tit {display: flex; align-items: baseline; width: 100%;}
.snb_info_box .info_tit h5 {font-size: 17px; max-width: 66%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.snb_info_box .info_tit a {font-size: 13px; margin-left: 12px; padding-left: 12px; color: #a3a3a3;}
.snb_info_box .info_tit a i {color: #6d89ec; margin-right: 10px;}
.snb_info_box .info_cont {width: 100%; margin-top: 15px;}
.snb_info_box .info_cont table {font-size: 12px;}
.snb_info_box .info_cont table th { color: #bfbfbf; padding: 15px 0; width: 18%;}
.bike_info_box .info_cont table th {width: 13%;}
.snb_info_box .info_cont table tr:last-of-type th {padding-bottom: 0;}
.snb_info_box .info_cont table td {font-weight: bold;}
.bike_info_box .info_cont table td {width: 21%;}
.dtWrap .contArea {padding: 20px 16px; line-height: 1.6; font-size: 1.15em;}
.dtWrap .contArea img {max-width: 100%;}
.dtWrap .contArea .tagArea {margin-top: 35px;}
.dtWrap .contArea .tagArea span {font-size: 15px;}
.bot_btnArea {margin-top: 30px; overflow: hidden;}
.bot_btnArea .edtndel {float: left; margin-bottom: 20px;}
.bot_btnArea .backbtn {clear: both;}
/* 댓글영역 */
.coment_wrap {margin-top: 70px;}
.coment_wrap>p {margin-left: 16px;}
.coment_list .coment_item {padding: 20px 16px; display: flex; align-items: center;}
.coment_list .coment_item .imgArea {border-radius: 50%; width: 55px; height: 55px; margin-right: 20px;}
.coment_list .coment_item .txtArea {width: 94%;}
.coment_list .coment_item .txtArea .name {font-size: 14px; margin-bottom: 8px;}
.coment_list .coment_item .txtArea form {display: flex; justify-content: space-between; width: 100%;}
.coment_list .coment_item .txtArea form input[type="text"] {padding: 10px; height: 36px; width: 92%;}
.coment_list .coment_item .txtArea form button {height: 36px; background-color: #808080; color: #fff; width: 80px;}
.coment_list .coment_item .txtArea p.coment_p {font-size: 14px;}
.coment_list .coment_item .txtArea .date_reple {margin-top: 8px;}
.coment_list .coment_item .txtArea .date_reple span, .coment_list .coment_item .txtArea .date_reple a {color: #bfbfbf; padding-right: 10px; font-size: 12px; margin-right: 8px;}
.coment_list .coment_re {background-color: #fbfbfb; padding-left: 40px;}
.coment_list .coment_re .imgArea {background-image: none !important;}
.coment_list .coment_re .imgArea img {width: 30px; margin-top: 15px; margin-left: 10px;}
.coment_list .coment_re_re {padding-left: 80px;}
.coment_list .coment_re_re_re {padding-left: 120px;}
/* 임시 프로필 */
.coment_list .coment_item .imgArea {background-image: url(../images/exam/profile_ex_thum.png);}

.img_thum_slide {margin-bottom: 180px;}
.img_thum_slide .carousel-indicators {bottom: -52%; width: 81%; left: 0; right: 0; margin: auto;}
.img_thum_slide .carousel-indicators li {width: 22.5%; height: 40px; margin: 0 2px; border: none; background-color: transparent; border-radius: 0;}
.img_thum_slide .carousel-indicators .active {border: 2px solid #8298ee;}
.img_thum_slide .carousel-inner {width: 100%; height: 300px;}
.img_thum_slide .carousel-control .glyphicon-chevron-left, .img_thum_slide .carousel-control .glyphicon-chevron-right {top: 108%; margin-left: 0; margin-right: 0;}
.img_thum_slide .carousel-control .glyphicon-chevron-left {left: 2%;}
.img_thum_slide .carousel-control .glyphicon-chevron-right {right: 2%;}
.img_thum_slide .carousel-control span i {color: #6d89ec; font-size: 30px;}
/* 지역별 여행지 임시 img slide */
.img_thum_slide .item01 .imgArea {background-image: url(../images/exam/insta_ex_thum02.jpg);}
.img_thum_slide .item02 .imgArea {background-image: url(../images/exam/review_ex_thum01.jpg);}
.img_thum_slide .item03 .imgArea {background-image: url(../images/exam/slide_exthum02.png);} 




/* 커뮤니티 > 공지사항 글쓰기 페이지 */
.edit_wrap {margin-bottom: 35px;}
.edit_wrap input[type="text"] {padding: 18px 20px; font-size: 18px;}
.edit_wrap input[type="text"]::placeholder {font-size: 18px;}
.up_edit {margin-bottom: 30px;}
.up_file {padding-bottom: 30px;}
.up_edit h5 {font-size: 18px; margin-bottom: 15px;}
.up_file h5 span {font-size: 12px; font-weight: normal; color: #a3a3a3; margin-left: 25px;}
.edit_btn {text-align: center; margin-top: 50px;}
.edit_btn a {margin: 0 4px;}
.edit_btn button {width: 47%;}




/* 커뮤니티 > 리뷰 글쓰기 페이지 */
.edit_wrap .editHead .search_group {width: 100%; display: flex; justify-content: center; border: none; padding: 0; background-color: transparent;}
.edit_wrap .editHead .search_group label {width: 50%; margin-top: -1px;}
.edit_wrap .editHead .search_group label input[type="radio"] {display: none;}
.edit_wrap .editHead .search_group label input[type="radio"] + span {display: flex; justify-content: center; align-items: center; border: 1px solid #bfbfbf; height: 38px; width: 100%; background-color: #fff; color: #bfbfbf;}
.edit_wrap .editHead .search_group input[type="radio"]:checked + span {border: 1px solid #7690ED; color: #333;}
.edit_wrap .editHead input[type="text"] {width: 100%;}
/* 선택 전 */
.rental_info button.btn {border: 1px solid #4e6bd3; color: #4e6bd3; width: 47%; height: 36px; margin: 0 4px;}
/* 선택 후 */
.rental_info button.activebtn {background-color: #4e6bd3; color: #fff;}
.rental_tag input[type="text"] {height: 40px;}

/* 만족도 선택 */
.starpoint_wrap {display:inline-block;}
.starpoint_box {position:relative; background-image :url(../images/codepen_sp_star.png); background-repeat: no-repeat; background-position: 0 0; font-size:0;}
.starpoint_box .starpoint_bg {display:block; position:absolute; top:0; left:0; height:28px; background-image :url(../images/codepen_sp_star.png); background-position: 0 -28px; background-repeat: no-repeat; pointer-events:none;}
.starpoint_box .label_star {display:inline-block; width:30px; height:28px; box-sizing:border-box;}
.starpoint_box .star_radio {opacity:0; width:0; height:0; position:absolute;}
.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:20%;}
.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:40%;}
.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:60%;}
.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:80%;}
.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:100%;}

.blind {position:absolute; clip:rect(0 0 0 0); margin:-1px; width:1px; height: 1px; overflow:hidden}
.starpoint_box .star_txt {font-size: 14px; color: #bfbfbf; position: absolute; right: -130px; bottom: 0;}
.starpoint_box .star_num {font-size: 14px; color: #bfbfbf; display: none; position: absolute; right: -30px; bottom: 0;}

.starpoint_box .star_radio:nth-of-type(1):checked ~ .star_num_1 {display: block;}
.starpoint_box .star_radio:nth-of-type(1):checked ~ .star_txt {display: none;}
.starpoint_box .star_radio:nth-of-type(2):checked ~ .star_num_2 {display: block;}
.starpoint_box .star_radio:nth-of-type(2):checked ~ .star_txt {display: none;}
.starpoint_box .star_radio:nth-of-type(3):checked ~ .star_num_3 {display: block;}
.starpoint_box .star_radio:nth-of-type(3):checked ~ .star_txt {display: none;}
.starpoint_box .star_radio:nth-of-type(4):checked ~ .star_num_4 {display: block;}
.starpoint_box .star_radio:nth-of-type(4):checked ~ .star_txt {display: none;}
.starpoint_box .star_radio:nth-of-type(5):checked ~ .star_num_5 {display: block;}
.starpoint_box .star_radio:nth-of-type(5):checked ~ .star_txt {display: none;}




/* 마이페이지 > 회원정보 */
.my_bgback {background-color: #f9f9f9; padding-top: 23%; padding-bottom: 70px;}
.my_bgback .loginWrap {margin-top: 0;}
.loginWrap .lg_cont .pro_name .imgArea {width: 120px; height: 120px; border-radius: 50%; margin: auto;}
.loginWrap .lg_cont .pro_name p {font-size: 16px; line-height: 1.5; margin-top: 15px;}
.loginWrap .lg_cont .pro_name p span {color: #bfbfbf;}
.loginWrap .lg_cont .pro_info {background-color: #f9f9f9; padding: 40px 20px; margin: 25px 0; text-align: left;}
.loginWrap .lg_cont .pro_info table {font-size: 15px;}
.loginWrap .lg_cont .pro_info table th {color: #999; padding-bottom: 35px; width: 32%;}
.loginWrap .lg_cont .pro_info p {color: #999;}
.right_edit_btn {text-align: left;}
.right_edit_btn button {width: 140px; height: 38px; background-color: #4e6bd3;}
.loginWrap .lg_foot h4.history_tit, .loginWrap .lg_cont h4.re_pw_tit {text-align: left; font-size: 17px; margin-bottom: 15px;}
.loginWrap .lg_foot .history_box {background-color: #f4f4f4; padding: 15px; font-size: 15px; height: 80px; display: flex; justify-content: center; align-items: center;}
.loginWrap .lg_foot .history_box p.history_x {color: #9a9a9a;}
/* 회원 임시 프로필 */
.loginWrap .lg_cont .pro_name .imgArea {background-image: url(../images/exam/profile_ex_thum.png);}




/* 마이페이지 > 회원정보수정 */
.loginWrap .lg_cont .input_text label {text-align: left; color: #999999; font-size: 16px; margin-bottom: 10px; display: block;}

.filebox {display: flex; align-items: end; margin-bottom: 25px;}
.filebox .upload-display .upload-thumb-wrap {margin-right: 20px; width: 100px; height: 100px; border: 1px solid #bfbfbf;}
.filebox .upload-display .upload-thumb-wrap img.upload-thumb {width: 100%; height: 100%;}
.loginWrap .lg_cont .input_text .filebox input[type="file"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}
.filebox label {display: flex !important; justify-content: center; align-items: center; background-color: #404040; width: 100px; height: 40px;} 
.filebox label i {color: #Fff; margin-left: 5px;}
/* named upload */
.loginWrap .lg_cont .input_text .filebox .upload-name {margin-bottom: 0; background-color: #fff; font-size: 14px; color: #999; -webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none;}

.loginWrap .lg_cont .input_text .tel_form {display: flex; justify-content: space-between;}
.loginWrap .lg_cont .input_text .tel_form input:first-of-type {width: 20%;}
.loginWrap .lg_cont .input_text .tel_form input {width: 30%;}
.loginWrap .lg_cont .input_text .tel_form span {font-size: 16px; font-weight: bold; margin-top: 14px;}
.loginWrap .lg_cont .input_text .gender_form .user-btn-group {display: flex; justify-content: space-between;}
.loginWrap .lg_cont .input_text .gender_form .user-btn-group .btn {width: 50%; height: 38px; border: 1px solid #4e6bd3; padding: 0; display: flex; align-items: center; justify-content: center;}
.loginWrap .lg_cont .input_text .gender_form .user-btn-group .btn p {color: #4e6bd3; margin-top: 0;}
.loginWrap .lg_cont .input_text .gender_form .user-btn-group .btn.active p {color: #Fff;}
.loginWrap .lg_cont .input_text .agenbirth_form {display: flex; justify-content: space-between;}
.loginWrap .lg_cont .input_text .agenbirth_form .age_form {width: 30%;}
.loginWrap .lg_cont .input_text .agenbirth_form .age_form input {width: 100%;}
.loginWrap .lg_cont .input_text .agenbirth_form .birth_form {width: 66%;}
.loginWrap .lg_cont .input_text .agenbirth_form .birth_form select {width: 48%; background-position: 86% center;}
.loginWrap .lg_cont .input_text>p {text-align: right; color: #999;}
.loginWrap .lg_cont .input_text>button {background-color: #4e6bd3; height: 38px; margin-top: 40px;}
.loginWrap .lg_cont .re_pw_link {margin-top: 70px;}
.loginWrap .lg_cont .re_pw_link p {color: #bfbfbf; text-align: left;}
.loginWrap .lg_cont .re_pw_link button {border: 1px solid #4e6bd3; color: #4e6bd3; height: 38px; margin: 15px 0 25px;}
.loginWrap .mem_out_btn {padding: 20px 20px; text-align: left;}
.loginWrap .mem_out_btn button {margin-bottom: 0; background-color: #fff; color: #bfbfbf; font-size: 14px; padding: 5px 15px;}




/* 대여소 관리 */
.loginWrap .mg_cont {padding: 20px;}
.loginWrap .mg_cont input[type="checkbox"] {width: 14px; height: 14px; margin-top: 0;}
.loginWrap .mg_cont .contHead {display: flex; justify-content: space-between; align-items: center; margin-top: 10px;}
.loginWrap .mg_cont .contHead .check_del {display: flex; align-items: center;}
.loginWrap .mg_cont .contHead .check_del label {margin-left: 5px; margin-right: 15px;}
.loginWrap .mg_cont .contHead .check_del button {color: #bfbfbf; padding: 3px 10px;}
.up_product button {height: 38px; width: 120px; font-size: 15px; background-color: #4e6bd3;}
.contCont .shop_info_wrap {width: 100%; text-align: left; margin-top: 15px;}
.disnone {display: none;}
.contCont i {display: inline-block; margin-right: 5px;}
#load {display: block; width: 100%; margin-top: 15px;}


.card_head h4 {font-size: 20px;}
.card_cont {padding: 25px 20px 25px; font-size: 15px;}
.card_cont .card_head {padding-bottom: 15px; margin-bottom: 15px;}
.card_cont .card_head .areaName {display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px; font-size: 15px;}
.card_cont .card_info p {margin-bottom: 15px;}
.card_cont .card_info p i {width: 14px; height: 14px; text-align: center;}
.card_cont .card_info p:nth-of-type(2) i {background-image: url(../images/time_icon.png);}
.card_foot {background-color: #597af4; text-align: center; padding: 15px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}





/* 바이크 관리 */
.loginWrap .mg_cont .bike_contHead {display: block;}
.up_product {display: flex; align-items: center;}
.loginWrap .mg_cont .bike_contHead .up_product {margin-top: 15px;}
.up_product select {width: 180px; height: 38px; color: #999; padding: 0 20px; background-color: #fff; font-size: 15px; background-image: url(../images/arrow_down.png); background-position: 90% center; background-size: 9px; margin-right: 8px;}
.mg_cont .bike_pd_box {width: 100%; padding: 20px 0;}
.mg_cont .bike_pd_box .infoArea {width: 60%; text-align: left;}
.mg_cont .bike_pd_box .infoArea .tit p {font-size: 16px;}
.mg_cont .bike_pd_box .infoArea .tit span {padding: 0px 10px 2px; margin-right: 5px;}
.mg_cont .bike_pd_box .infoArea i {vertical-align: middle;}
.mg_cont .bike_pd_box .infoArea .txt {margin-top: 10px;}
.mg_cont .bike_pd_box .infoArea .txt .b_filter span {font-size: 13px;}
.mg_cont .bike_pd_box .infoArea .txt .ad_store {font-size: 13px;}
.mg_cont .bike_pd_box .infoArea .txt .price_txt {font-size: 14px;}



.bike_pd_box {padding: 20px 20px; display: flex; justify-content: space-between;}
.bike_pd_box:hover {background-color: #e7f1ff;}
.bike_pd_box .imgArea {width: 100px; height: 100px;}
.bike_pd_box .infoArea {width: 62%;}
.bike_pd_box .infoArea .tit {display: flex; justify-content: space-between; align-items: center; padding-bottom: 8px;}
.bike_pd_box .infoArea .tit p {font-size: 18px;}
.bike_pd_box .infoArea .tit span {font-size: 12px; border: 1px solid #597af4; padding: 4px 10px;}
.bike_pd_box .infoArea .txt {margin-top: 8px;}
.bike_pd_box .infoArea .txt .b_filter span {margin: 0 3px; font-size: 15px;}
.bike_pd_box .infoArea .txt .ad_store {color: #aaa; margin-top: 6px;}
.bike_pd_box .infoArea .txt .ad_store i {background-image: url(../images/store_icon.png); width: 20px; height: 20px;}
.bike_pd_box .infoArea .txt .price_txt {font-size: 16px; text-align: right; line-height: 1.3; margin-top: 11px;}
/* 바이크 임시 썸네일 */
.bike_pd_box .imgArea {background-image: url(../images/exam/ex_bike.jpg);}




/* 대여소 상세보기 */
.rent_detail_wrap {margin-top: 50px; background-color: #fff;}
.shop_detail_box .rightArea {width: 100%; height: 260px; margin-bottom: 20px;}
.shop_detail_box .leftArea {width: 100%;}
.shop_detail_box .leftArea i {display: inline-block; margin-right: 15px;}
.shop_detail_box .leftArea .card_cont {padding: 0;}
.shop_detail_box .leftArea .card_cont .card_head {padding-bottom: 17px; margin-bottom: 30px;}
.shop_detail_box .leftArea .card_cont .card_head .areaName {font-size: 18px;}
.shop_detail_box .leftArea .card_cont .card_head .nametit {display: flex; justify-content: space-between; align-items: center;}
.shop_detail_box .leftArea .card_cont .card_head h4 {font-size: 26px;}
.editregi_dropdown button i {font-size: 22px; color: #bfbfbf;}
.editregi_dropdown .dropdown-menu {font-size: 15px; text-align: center; width: 130px; border: 1px solid #7690ed; left: -660%; top: 141%; padding: 0;}
.editregi_dropdown .dropdown-menu li:first-of-type {border-bottom: 1px solid #7690ED;}
.editregi_dropdown .dropdown-menu li a {color: #7690ed; padding: 11px 20px;}
.editregi_dropdown .dropdown-menu>li>a:focus {background-color: #7690ed; color: #fff;}
.shop_detail_box .leftArea .card_cont .card_info {font-size: 16px; padding-bottom: 20px;}
.shop_detail_box .leftArea .card_cont .card_info p {margin-bottom: 25px;}
.shop_detail_box .leftArea .card_cont .card_info p:nth-of-type(3) i {background-image: url(../images/time_icon.png);}
.shop_detail_box .leftArea .card_cont .card_info span {padding-left: 25px; display: block; line-height: 1.4; font-size: 15px;}
.detail_bike_cont {margin-top: 40px;}
.detail_bike_cont h5 {font-size: 18px;}
.detail_bike_cont .review_list {margin-top: 20px;}
.detail_bike_cont .review_list .list_box {padding: 25px 0;}
.detail_bike_cont .review_list .list_box .txtArea {width: 65%;}
.detail_bike_cont .review_list .list_box .txtArea .txtHead {width: 100%;}
.detail_bike_cont .box05 {margin-top: 20px;}





/* 바이크 상세보기 */
.rent_detail_wrap .snb_info_box {margin-bottom: 70px;}
.bike_detail_box .leftArea {width: 100%; height: 260px; margin-bottom: 20px;}
.bike_detail_box .rightArea {width: 100%;}
.bike_detail_box .rightArea i {display: inline-block; margin-right: 15px;}
.bike_detail_box .rightArea .boxHead {padding-bottom: 17px;}
.bike_detail_box .rightArea .boxHead .shopName {margin-bottom: 3px;}
.bike_detail_box .rightArea .boxHead .shopName span {color: #bfbfbf;}
.bike_detail_box .rightArea .boxHead .nametit {display: flex; justify-content: space-between; align-items: center;}
.bike_detail_box .rightArea .boxHead .tit {display: flex; align-items: center;}
.bike_detail_box .rightArea .boxHead .tit h4 {font-size: 25px;}
.bike_detail_box .rightArea .boxHead .tit span {border: 1px solid #4a69de; padding: 4px 10px; font-size: 13px; margin-left: 15px;}
.bike_detail_box .rightArea .boxCont {padding: 30px 0px;}
.bike_detail_box .rightArea .boxCont table {line-height: 2;}
.bike_detail_box .rightArea .boxCont table th {color: #bfbfbf; width: 22%; padding: 4px 0;}
.bike_detail_box .rightArea .boxCont .ad_explan {margin-top: 40px; line-height: 1.4;}
.bike_detail_box .rightArea .boxCont .ad_explan h5 {margin-bottom: 15px;}
.bike_detail_box .rightArea .boxCont .ad_explan span {display: block; margin-top: 20px;}
.bike_detail_box .rightArea .boxCont .price_txt {text-align: right; font-size: 18px; line-height: 1.5; padding-top: 13px; margin-top: 20px;}
/* 바이크 임시 썸네일 */
.bike_detail_box .leftArea .imgArea {background-image: url(../images/exam/ex_bike.jpg);}








/* footer */
.footer {background-color: #33322d; padding: 15px 0;}
.footer .logo_ft p {font-size: 12px; margin-top: 7px;}
.footer .txt_ft {margin-left: 30px;}
.footer .txt_ft ul {line-height: 1.6;}
.footer .txt_ft ul li {font-size: 12px;}




/* bottom nav */
.bottom-nav ul {display: flex;}
.bottom-nav ul li {text-align: center; width: 20%;}
.bottom-nav ul li a {padding: 7px 5px; display: inline-block;}
.bottom-nav ul li a img {width: 30px;}
.bottom-nav ul li a p {font-size: 10px; margin-top: 2px;}