@charset "utf-8";


.Container {width: 100%; padding: 0 16px;}




/* navbar */
.navbar-default {background-color: #fff; background-image: none; height: 50px; box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 2px 5px rgb(0 0 0 / 10%);}
.navbar-head {display: flex; justify-content: space-between; align-items: center;}
.navbar-logo a img.logohover {display: none;}
.navbar-logo a:hover img.logohover {display: block;}
.navbar-logo a:hover img.logonormal {display: none;}
.navbar-default .navbar-toggle {padding: 0; border: 0;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent;}
.navbar-default .navbar-toggle .icon-bar {height: 3px;}
.navbar-default .navbar-toggle .icon-bar+.icon-bar {margin-top: 5px;}
.navbar-default .navbar-collapse {width: 100%; background-color: #fff; position: absolute; top: 50px; margin: 0 -15px 7.5px; border-top: 0; border-bottom: 1px solid #ddd;}
.navbar-default .navbar-collapse .nav-after-login li:nth-last-child(2) {margin-bottom: 7.5px;}
.navbar-default .navbar-collapse .nav-after-login li:nth-last-child(1) {padding-top: 3px;}




/* main */ 
/* main common title */
.comtit {text-align: center;}
.comtit p.tit {font-size: 23px;}
.comtit p.txt {font-size: 18px; margin-top: 15px;}

/* main section01 */
.sec01 {padding-top: 35%; text-align: center; background-image: url(../images/bg/main_back_top.jpg); height: 700px;}
.sec01 .titArea .title {font-size: 30px; color: #fff; line-height: 1.4;}
.sec01 .titArea .title span.newblue {font-size: 45px;} 
.sec01 .titArea .sub {color: #dbff95; font-size: 18px;}
.mainBikeSearch .searchWrap {margin-top: 45px;}
.mainBikeSearch .searchWrap .searchSelect {background-color: #fff;}
.mainBikeSearch .searchWrap .searchSelect .search {width: 100%; height: 50px;}
.mainBikeSearch .searchWrap .searchSelect .search select, .mainBikeSearch .searchWrap .searchSelect .search input[type="text"] {padding: 15px 20px; background-image: url(../images/arrow_down.png); background-position: 93% center; background-size: 10px;}
.mainBikeSearch .searchWrap .searchbtn button {margin-top: 20px; color: #fff; font-size: 16px; display: flex; justify-content: center; align-items: center; width: 100%; height: 38px;}
.mainBikeSearch .searchWrap .searchbtn button span {background-image: url(../images/search_icon.png); display: inline-block; width: 20px; height: 20px;}
.searchTag {margin-top: 20px;}
.searchTag .tagBtns {display: flex; justify-content: space-between; width: 93%; margin: auto;}
.searchTag .tagBtns a {color: #4E6BD3; font-size: 12px;}

/* main section02 */
.sec02 {margin-top: 70px; margin-bottom: 100px;}
.tourSlide {width: 100%; margin-top: 30px;}
.tourSlide .carousel-inner {width: 100%; height: 500px;}
.tourSlide .carousel-inner .item ul li {width: 99%; background-color: #fff;}
.tourSlide .carousel-inner .item ul li .imgArea {height: 320px; overflow: hidden;}
.tourSlide .carousel-inner .item ul li .txtArea {padding: 20px;}
.tourSlide .carousel-inner .item ul li .txtArea p {color: #434343;}
.tourSlide .carousel-inner .item ul li .txtArea p.tit {font-size: 20px; margin-bottom: 20px;}
.tourSlide .carousel-inner .item ul li .txtArea p.txt {word-break: keep-all; line-height: 1.4; font-size: 18px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3em;}
.slide .carousel-control {background-image: none; width: 40px;  opacity: 1;}
.slide .carousel-control .glyphicon {height: 40px; top: 40%;}
.slide .carousel-control .glyphicon::before {content: none;}
.tourSlide .carousel-control .glyphicon-chevron-left {background-image: url(../images/mobile/main_slide_left.png);}
.tourSlide .carousel-control .glyphicon-chevron-right {background-image: url(../images/mobile/main_slide_right.png);}

/* 각 슬라이드 임시 썸네일 */
.tourSlide .carousel-inner .item ul li:first-of-type .imgArea .imgChild {background-image: url(../images/exam/slide_exthum01.png);}

/* main section03 */
.snsWrap {margin-top: 30px;}
.snsWrap .leftArea, .snsWrap .rightArea {width: 100%;}
.snsWrap .leftArea .videoBox {height: 320px;}
.snsWrap .rightArea .instaBox {height: 250px; margin-top: 50px;}
.snsWrap .rightArea .instaBox ul {display: flex; flex-wrap: wrap; height: 100%;}
.snsWrap .rightArea .instaBox ul li {width: 32%; margin-right: 2%; margin-bottom: 6px;}
.snsWrap .rightArea .instaBox ul li:nth-of-type(3n) {margin-right: 0;}
.snsWrap .rightArea .instaBox ul li:nth-child(n+4):nth-child(-n+6) {margin-bottom: 0;}
.linkbtn {margin-top: 20px; text-align: right;}
.linkbtn button {font-size: 16px; background-color: #7f3ff8; color: #fff; height: 38px; width: 100%; display: flex; justify-content: center; align-items: center;}
.linkbtn button i {width: 16px; height: 16px; display: inline-block; margin-right: 10px; vertical-align: bottom;}
.youLinkbtn button i {background-image: url(../images/youtube_btn_icon.png);}
.instaLinkbtn button i {background-image: url(../images/instagram_btn_icon.png);}

/* 인스타 임시 썸네일 */
.instaBox ul li:nth-of-type(1) button {background-image: url(../images/exam/insta_ex_thum01.jpg);}
.instaBox ul li:nth-of-type(2) button {background-image: url(../images/exam/insta_ex_thum02.jpg);}
.instaBox ul li:nth-of-type(3) button {background-image: url(../images/exam/insta_ex_thum03.jpg);}
.instaBox ul li:nth-of-type(4) button {background-image: url(../images/exam/insta_ex_thum04.jpg);}
.instaBox ul li:nth-of-type(5) button {background-image: url(../images/exam/insta_ex_thum05.jpg);}
.instaBox ul li:nth-of-type(6) button {background-image: url(../images/exam/insta_ex_thum06.jpg);}





/* main section04 */
.boxHidden {display: none;}

.sec04 {background-image: url(../images/bg/main_back_bottom.jpg); padding-top: 150px; height: 700px;}
.sec04 .comtit p.tit i {width: 40px; height: 39px; background-image: url(../images/sec04_title_icon.png); margin-left: 15px;}
.commuWrap {margin-top: 30px;}
.review_area {display: flex; justify-content: space-between; align-items: center;}
.review_area li {width: 48%; background-color: #fff; margin-bottom: 20px; border: 1px solid #e2e2e2ef}
.review_area li .contbox .boxhead {padding: 15px 15px;}
.review_area li .contbox p {font-size: 15px; font-weight: 500;}
.review_area li .contbox span {font-size: 13px;}

.contbox .boxhead .name i {display: inline-block; width: 18px; height: 18px; border-radius: 50%; vertical-align: middle; margin-right: 8px;}
.contbox .boxhead .starndate {display: flex; margin-top: 7px; padding-left: 25px;}
.contbox .boxhead .date {margin-left: 11px;}
.contbox .boxcont .imgArea {height: 110px; overflow: hidden;}
.contbox .boxcont .txtArea {padding: 10px;}
.contbox .boxcont .txtArea p {overflow: hidden; word-break: keep-all; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3em;}
.tagArea {padding-top: 8px; margin-top: 8px;}
.tagArea a {margin-right: 5px;}
.tagArea a:hover {color: #597af4;}
.commuWrap .morebtn {margin-top: 20px; text-align: center;}
.commuWrap .morebtn button {background-color: #fff; height: 38px; color: #4a69de; font-size: 16px;}
/* 대여후기 별접 css */
.star-ratings {font-size: 14px; color: #d9d9d9; position: relative; unicode-bidi: bidi-override; width: max-content; -webkit-text-fill-color: #d9d9d9}
.star-ratings-fill {color: #fdc46b; padding: 0; position: absolute; z-index: 1; display: flex; top: 0; left: 0; overflow: hidden; -webkit-text-fill-color: #fdc46b;}
.star-ratings-base {z-index: 0; padding: 0;}
.star-ratings span {border-radius: 10px;}
/* 대여후기 임시 프로필 */
.name i {background-image: url(../images/exam/profile_ex_thum.png) !important;}
/* 대여후기 임시 콘텐츠썸네일 */
.contbox .boxcont .imgArea .imgChild {background-image: url(../images/exam/review_ex_thum01.jpg);}





/* 이용안내 */
/* content */
/* top intro */
.introWrap {background-image: url(../images/bg/commu_top_bg.png); height: 555px; padding-top: 80px;}
.sec_intro {width: 100%; background-color: #fff; padding: 25px 20px;}
.sec_intro ul li {display: flex; align-items: center; margin-bottom: 30px;}
.sec_intro ul li img {width: 70px;}
.sec_intro ul li .txtArea {margin-left: 20px;}
.sec_intro ul li .txtArea h2 {font-size: 16px;}
.sec_intro ul li .txtArea p {line-height: 1.3; font-size: 13px; margin-top: 10px;}
/* 구글 / 앱스토어 바로가기 버튼 */
.app_btn {text-align: center;}
.app_btn p {font-size: 16px; margin-bottom: 20px;}
.app_btn button img {width: 130px; height: 45px;}

.guideWrap {margin-top: 100px;}
.guideWrap .box {overflow: hidden; margin-bottom: 150px;}
.guideWrap .box .leftArea {width: 100%; margin-bottom: 20px;}
.guideWrap .box .leftArea h2 {font-weight: bold; font-size: 20px; border-bottom: 3px solid #bec8ef; padding-bottom: 3px; margin-bottom: 15px; display: inline-block;}
.guideWrap .box .leftArea p {font-size: 16px; line-height: 1.5; word-break: keep-all;}
.guideWrap .box .rightArea {width: 100%;}
.guideWrap .box .rightArea table {font-size: 14px; text-align: center; line-height: 1.5;}
.guideWrap .box .rightArea table tr th {background-color: #f0f8fc; text-align: center; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
.guideWrap .box .rightArea table tr td {background-color: #f8f8f8; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
.guideWrap .box .rightArea table tr th, .guideWrap .box .rightArea table tr td {padding: 15px 0; vertical-align: middle;}
/* box01 - 대여안내 */
.gd_box {padding: 15px; font-size: 14px; line-height: 1.5;}
.gd_box:first-of-type {background-color: #f6f0f5;}
.gd_box:last-of-type {background-color: #f5f7fe;}
.gd_box p:first-of-type {margin-bottom: 10px;}
.gd_box p:last-of-type {margin-left: 18px;}
/* box02 - 서비스요금 */
.sv_cate_tit {font-size: 14px; font-weight: bold;}
.sv_cate_tit:last-of-type {margin-top: 40px;}
.sv_box {font-size: 14px; display: flex; justify-content: space-between; height: auto; margin-top: 18px; line-height: 1.5;}
.sv_box .sv_tit {width: 30%; text-align: center; font-weight: bold; padding: 15px;}
.sv_box03 .sv_tit {padding-top: 10%;}
.sv_box .sv_tit img {width: 50px;}
.sv_box .sv_tit p {margin-top: 5px;}
.sv_box .sv_txt {width: 68%; padding: 15px; display: flex; align-items: center;}
.sv_box01 div {background-color: #fff3f3;}
.sv_box02 div {background-color: #eef2ff;}
.sv_box03 div {background-color: #eef2ff;}
/* box03 - 자차보험 */
.guideWrap .box03 .rightArea table tr th {width: 100%; text-align: left; padding: 15px; display: block;}
.guideWrap .box03 .rightArea table tr td {padding: 15px; display: block; text-align: left;margin-bottom: 10px;}
/* box04 - 취소 및 환불규정 */
.guideWrap .box04 .rightArea table tr th:first-of-type {width: 37%;}
.guideWrap .box04 .rightArea table tr:last-of-type td {text-align: left; padding-left: 3%;}
/* box05 - 대여 주의사항 */
.guideWrap .box05 .rightArea table tr th {width: 15%;}
.guideWrap .box05 .rightArea table tr td {text-align: left; padding: 15px;}
/* box06 - 이용약관 */
.guideWrap .box06 .rightArea {padding-right: 3px;}
.grbtns button.grbtn {width: 100%; margin-bottom: 15px; padding: 10px; border: 1px solid #e2e2e2ef;}
/* box07 - 오토바이 체급과 제도 */
.guideWrap .box07 {margin-bottom: 60px;}
.guideWrap .box07 .rightArea table tr th {padding: 15px 5px;}
.g_green {background-color: #f5f9f3 !important;}
.g_red {background-color: #fff3f3 !important;}




/* common btns */
.backblue_btn {background-color: #597af4; color: #fff; width: 100%; height: 38px; font-weight: bold; border-radius: 10px;}
.lineblue_btn {background-color: #fff; border: 1px solid #3d66ff; color: #3d66ff; width: 100%; height: 38px; border-radius: 10px;}
.edtndel ul li a {color: #8b8b8b; padding: 3px 10px; display: inline-block;}


/* 커뮤니티 */
/* title area */
.comm_titArea {margin-bottom: 20px;}
.comm_titArea h2 {font-size: 20px;}
.comm_titArea p {margin-top: 10px;}

/* notice */
.commu_notice {margin-bottom: 100px; margin-top: 80px;}
/* netice list */
.noticeTable table {border-top: 1px solid #898989; text-align: center; font-size: 16px;}
.noticeTable table tr th {display: none;}
.noticeTable table tr td {display: inline-block; text-align: left; color: #BFBFBF; margin: 15px 0; padding: 0 16px; float: left;}
.noticeTable table tr td:first-of-type {display: none;}
.noticeTable table tr td:nth-of-type(2) {width: 100%; display: block; color: #333; margin-bottom: 0; float: none;}
.noticeTable table tr td:last-of-type {margin-left: 0; padding-left: 13px;}
.noticeTable table tr td a:hover {color: #4a69de;}
.noticeTable table tr td i.newIcon {display: inline-block; background-image: url(../images/new_icon.png); width: 10px; height: 10px; vertical-align: super; margin-left: 3px;}
.noticeTable table tr td:last-of-type i {display: inline-block; background-image: url(../images/view_icon.png); width: 18px; height: 18px; margin-right: 5px; vertical-align: top;}
.commu_notice .morebtn {text-align: right; margin-top: 20px;}
/* review */
.comm_review {margin-bottom: 60px;}
/* best riview */
.best_re {display: flex; justify-content: space-between; height: 300px; margin-bottom: 50px;}
.best_re .banner_tit {width: 400px; padding: 30px 25px; background-image: url(../images/bg/best_re_bg.jpg);}
.best_re .banner_tit p:first-of-type {font-size: 32px; line-height: 1.5; border-bottom: 2px solid #fff; width: 65%; padding-bottom: 6px; margin-bottom: 13px;}
.best_re .banner_tit p:last-of-type {font-size: 16px; line-height: 1.4;}
.best_review_area {padding: 25px 0;}
.best_review_area ul.review_area {width: 100%; display: block; height: 300px; white-space: nowrap;}
.best_review_area ul.review_area li {display: inline-block; height: 280px; width: 155px; margin-right: 10px;}
.best_review_area ul.review_area li:first-of-type {margin-left: 16px;}
.best_review_area ul.review_area li:last-of-type {margin-right: 16px;}
.best_review_area ul.review_area li .contbox .boxcont .txtArea p {white-space: normal;}
/* search_group */
.review_list .search_group {border-top: 1px solid #a8a8a8; border-bottom: 1px solid #a8a8a8; background-color: #f7f7f7; padding: 20px 16px;}
.review_list .search_group .label_group {display: flex; justify-content: space-between;}
.review_list .search_group .label_group label input[type="radio"] {display: none;}
.review_list .search_group .label_group label input[type="radio"] + span {display: flex; justify-content: center; align-items: center; border: 1px solid #bfbfbf; height: 38px; width: 100px; background-color: #fff; color: #bfbfbf;}
.review_list .search_group .label_group label input[type="radio"]:checked + span {border: 1px solid #7690ED; color: #333;}
.review_list .search_group .search_box {display: flex; justify-content: center; align-items: center; margin-top: 10px;}
.review_list .search_group .search_box input[type="text"] {width: 85%; height: 38px; padding: 10px;}
.review_list .search_group .search_box button {background-color: #4E6BD3; height: 38px; width: 15%;}
.review_list .search_group .search_box button i {color: #fff; font-size: 17px;}
.review_list .search_group .search_box button span {display: none;}
/* review list */
.review_list {margin-top: 30px;}
.review_list .list_box {padding: 25px; display: flex; justify-content: space-between;}
.review_list .list_box .txtArea {width: 77%;}
.review_list .list_box .txtArea .txtHead {width: 85%; display: flex;}
.review_list .list_box .txtArea .txtHead h2 {font-size: 17px; max-width: 65%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.review_list .list_box .txtArea .txtHead span {margin-left: 5px; font-size: 17px;}
.labelArea {margin-left: 10px;}
.labelArea span.label {font-size: 12px !important; font-weight: normal; padding: 0.05em .6em 0.3em;}
.label-seccess {background-color: #4bcfba;}
.label-primary {background-color: #6d89ec;}
.label-danger {background-color: #ff7e7e;}
.review_list .list_box .txtArea .txtHead {padding-bottom: 12px;}
.review_list .list_box .txtArea .txtHead .re_info {display: flex; align-items: center;}
.review_list .list_box .txtArea .txtHead .re_info i.profile_img {width: 40px; height: 40px; display: inline-block; border-radius: 50%; margin-right: 6px;}
.review_list .list_box .txtArea .txtHead .re_info .name {font-size: 16px; margin-bottom: 4px;}
.review_list .list_box .txtArea .txtHead .re_info .star-ratings {display: inline-block;}
.review_list .list_box .txtArea .txtHead .re_info .star-ratings span {margin-left: 0; font-size: 16px;}
.review_list .list_box .txtArea .txtHead .re_info .date {color: #bfbfbf; margin-left: 6px; font-size: 12px;}
.review_list .list_box .txtArea .txtCont {margin-top: 12px; margin-bottom: 15px;}
.review_list .list_box .txtArea .txtCont h2 {display: inline-block; font-size: 17px;}
.review_list .list_box .txtArea .txtCont span {font-size: 16px;}
.review_list .list_box .txtArea .txtFoot {margin-left: 0;}
.review_list .list_box .txtArea .txtFoot .label {font-size: 14px !important;}
.review_list .list_box .imgArea {width: 100px; height: 100px;}
/* pagenation & write btn */
.board_bt_btn {text-align: center; margin-top: 10px;}
/* pagenation */
.pagination, 
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {border-radius: 0;}
.pagination>li:first-child>a, .pagination>li:first-child>span {margin-right: 18px;}
.pagination>li:last-child>a, .pagination>li:last-child>span {margin-left: 18px;}
.pagination>li:first-child>a>span, .pagination>li:last-child>a>span {color: #bfbfbf; font-size: 20px;}
.pagination li:nth-of-type(n+2):nth-of-type(-n+4) a {border: none; font-size: 16px; margin-top: 5px;}
.pagination>li>a, .pagination>li>span {padding: 2px 8px 6px; margin-left: 5px; margin-right: 5px; color: #3c3c3c; line-height: 1em;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {color: #4b6adf; font-weight: bold; background-color: #fff; border-color: none;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, 
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {color: #4b6adf; font-weight: bold; background-color: #fff;}
/* writhe btn */


/* review list 임시 썸네일 */
.review_list .list_box .imgArea {background-image: url(../images/exam/review_ex_thum02.jpg);}
/* 임시 프로필 이미지 */
.review_list .list_box .txtArea .txtHead .re_info i.profile_img {background-image: url(../images/exam/profile_ex_thum.png);}






/* footer */
.footer {background-color: #33322d; padding: 15px 0;}
.footer .logo_ft p {font-size: 12px; margin-top: 7px;}
.footer .txt_ft {margin-left: 30px;}
.footer .txt_ft ul {line-height: 1.6;}
.footer .txt_ft ul li {font-size: 12px;}




/* bottom nav */
.bottom-nav ul {display: flex;}
.bottom-nav ul li {text-align: center; width: 20%;}
.bottom-nav ul li a {padding: 7px 5px; display: inline-block;}
.bottom-nav ul li a img {width: 30px;}
.bottom-nav ul li a p {font-size: 10px; margin-top: 2px;}